 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F8F9;
    
}

header{
    padding: 10px;
    background-color: white;
}

h1{
    display: inline;
    background-color: white;
    
    }

header img, h1 {
    vertical-align: middle;
}

main{
    border: 3px solid black;

    border-radius: 10px;
    padding-left: 50px ;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    background-color:red;
}
.funzione{
    background-color: #47ADF1;
    padding: 10px;
    margin-top: 10px;
    border:1px solid black ;
    display: inline-block;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    text-align: center;
}
.section{
    background-color: ;
}
.linea-divisoria{
    display: block;
    display: none;

}
.tendine{
    padding: 30px;
}
.categorie{
    padding: 10px;
}
.circle{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}
.check{
    border-color: green;
    color: green;
}
.cross{
    border-color: red;
    color: red;
}
.taggenerico{
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
}


.tag-uno{
    color: white;
    background-color: #47ADF1;
}
.tag-due{
    color: white;
    background-color: #9C72E4
}
.tag-tre{
    color: white;
    background-color: #64C0A9;
}
.tag-quattro{
    color: white;
    background-color: #F29E33;
}
.tag-cinque{
    color: white;
    background-color: #D863A1;
}
.tag-sei{
    color: white;
    background-color: #B0C926;
}
